html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: #D4E6F4;
    font-size: 13px;
    line-height: 15px;
}

img {
    border: none;
}

table,
tr,
td {
    border-collapse: collapse;
    vertical-align: top;
    font-size: 13px;
    line-height: 15px;
}

a {
    color: #1A446C;
}

#header {
    height: 70px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    background: #fff;
    color: rebeccapurple;
}

#header h1 {
    padding: 1em;
    margin: 0px;
}

#main {
    margin: 0px;
    padding: 0px;
    height: 600px;
    width: 100%;
    background: #ddd;
}

#structure {
    height: 600px;
    width: 100%;
}

#footer {
    height: 2em;
    margin: 0px;
    padding: 1em;
    text-align: center;
    background: #000;
    color: #D4E6F4;
}

/* Navigation */
#navigation {
    width: 150px;
    padding: 1em 2em;
    color: #D4E6F4;
    background: rebeccapurple;
}

#navigation a {
    color: #D4E6F4;
    text-decoration: none;
}

ul.subjects {
    padding-left: 0;
    list-style: none;
}

ul.pages {
    padding-left: 2em;
    list-style: square;
}

.selected {
    font-weight: bold;
}

/* Page Content */
#page {
    padding-left: 2em;
    padding-top: 10px;
    vertical-align: top;
    background: #ddd;
}

#page h2 {
    color: #1A446C;
    margin-top: 1em;
}

#page h3 {
    color: #1A446C;
}

.message_box {
    color: #fff;
    padding: 10px 20px;
    width: max-content;
    font-weight: bold;
}

.message_warning {
    background-color: rgb(145, 96, 6);
}

.message_success {
    background-color: green;
}

.message_fail {
    background-color: #650707e4;
}

.red_btn {
    background-color:#650707e4;
    color: #fff;
    padding: 10px;
    text-decoration: unset;
    display: block;
}

.blue_btn {
    background-color: #1A446C;
    color: #fff;
    padding: 10px;
    display: block;
}
ul.subjects> li {
    padding: 5px;
    border-bottom: 1px solid #dddddd73;
}

ul.pages {
    background-color: #00000040;
}

ul.pages li {
    padding: 5px 0;
}